{{- /* -------------------- Alert Template --------------------- */ -}}
{{define "alert"}}
| {{ .Name }} | {{ .Description }} |
| -------- | ------- |
| ActiveAt  | {{ .ActiveAt }} |
| State  | {{ .State }} |
{{- end}}

{{ if .FiringAlerts }}
### Firing Alerts
{{ range .FiringAlerts }}
{{ template "alert" .}}
{{ end }}{{ end }}
{{ if .PendingAlerts }}
### Pending Alerts
{{ range .PendingAlerts }}
{{ template "alert" .}}
{{ end }}{{ end }}